::ng-deep .card.customClass,
::ng-deep .card.customClass .card-header,
::ng-deep .panel.customClass {
  background-color: transparent;
  color: black;
}
::ng-deep .panel.customClass .panel-body {
  background-color: rgb(240, 240, 240);
}

::ng-deep .customClass {
    color: black;
    background-color: transparent;
    border: none;
}

.textStyle{
    font-weight: bold;
    font-style: oblique;
}
