.table {
    width: 80%;
    text-align: center;
}

span {
    text-align: left;
}

button{
padding: auto;
}

.btn{
background-color:#156A26 ;
}


.closingX {
    color: #156A26 ;
}

.highcharts-credits {
    display:none!important;
}

.highcharts-legend{
    margin-top: 300px!important;
}
